body   
{
    background:#F7F2E0;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}


.Tabcss .ajax__tab_header
{
    color: Black;
    font-size: 17px;
    font-weight: bold;
    font-family:Arial;
    background-color: #F7F2E0;
    margin-left: 5px;
    
}
.Tabcss .ajax__tab_outer
{
    background-color: White;
}
.Tabcss .ajax__tab_inner
{
    padding: 6px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #f8f6ea;
    border-left: 1px solid #C21517;
}
.Tabcss .ajax__tab_hover .ajax__tab_outer
{
    background-color: #F6CEF5; 
    border: 1px solid #C21517;
    border-radius:8px 8px 8px 8px;
}

.Tabcss .ajax__tab_hover .ajax__tab_inner
{
    background-color: #F6CEF5; 
    border-radius:8px 8px 8px 8px;
}
.Tabcss .ajax__tab_active .ajax__tab_outer
{
    background-color: Black;
    border-radius: 10px 10px 10px 10px;
}
.Tabcss .ajax__tab_active .ajax__tab_inner
{
    background-color: #F6E3CE;
    border-radius: 10px 10px 10px 10px;
}
.Tabcss .ajax__tab_tab
{
    cursor: pointer;
}



