<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;timeout=20;"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="TCHistory.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <identity impersonate="true" password="p46kE-/S36;{&quot;F68" userName="RockyView\TrafficCount"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITCSummary" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ITCInsert" />
        <binding name="BasicHttpBinding_ITCSummary1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/TCWS/TCInsert.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITCInsert" contract="TCInsert.ITCInsert"
        name="BasicHttpBinding_ITCInsert" />
      <endpoint address="http://localhost/TCWS/TCSummary.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITCSummary" contract="TCService.ITCSummary"
        name="BasicHttpBinding_ITCSummary" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="TrafficCountEntities" connectionString="metadata=res://*/TCModel.csdl|res://*/TCModel.ssdl|res://*/TCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.50.105;initial catalog=TrafficCount;user id=TCSWeb;password=rockyview!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>